spring:
  application:
    name: discovery-server

server:
  port: 8761

eureka:
  instance:
    preferIpAddress: false
    hostname: discovery-server
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
